[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/michlo23
[access "refs/for/refs/*"]
	read = group user/michlo23
	push = group user/michlo23
	label-Code-Review = -2..+2 group user/michlo23
	label-Verified = -1..+1 group user/michlo23
	rebase = group user/michlo23
	removeReviewer = group user/michlo23
	submit = group user/michlo23
[access "refs/heads/*"]
	read = group user/michlo23
	create = group user/michlo23
	push = +force group user/michlo23
	pushMerge = group user/michlo23
[access "refs/tags/*"]
	push = group user/michlo23
	push = +force group user/michlo23
[project]
	description = Cloning
